:root {
  --primary-color: #21182F;
  --secondary-color: white;
  --third-color: #f3e627;
  --primary-FZ: 2.8rem;
  --secondary-FZ: 1.5rem;
  --primary-font-weight: 800;
  --secondary-font-weight: 600;
  --third-font-weight: 400;
  --border-radius: 0.6rem;
  --primary-spacing: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* scrollbar-width: thin;
  scrollbar-color: red blue;
  scrollbar-gutter: stable; */
}

body {
  font-family: Helvetica, sans-serif;
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: red blue;
  scrollbar-gutter: stable;
}

::selection {
  background-color: var(--third-color);
  border-radius: 5px;
  color: white;
}
