:root {
  --primary-color: #23182F;
  --secondary-color: white;
  --third-color: #E02424;
  --primary-FZ: 2.4rem;
  --secondary-FZ: 1.4rem;
  --primary-font-weight: 800;
  --secondary-font-weight: 600;
  --third-font-weight: 400;
  --border-radius: 0.6rem;
  --primary-spacing: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  outline: none;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  /* overflow: hidden; */
}

::selection {
  background-color: var(--third-color);
  border-radius: 5px;
  color: white;
}
